<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Update person</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/people/employee/{id}(id=${person.getId()})}" th:object="${person}">
  <label for="name">Name: </label>
  <input type="text" th:field="*{name}" id="name"/>
  <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
  <br/>
  <label for="surname">Surname: </label>
  <input type="text" th:field="*{surname}" id="surname"/>
  <div style="color:red" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Surname error</div>
  <br/>
  <label for="age">Age: </label>
  <input type="text" th:field="*{age}" id="age"/>
  <div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age error</div>
  <br/>
  <label for="experience">Experience: </label>
  <input type="text" th:field="*{experience}" id="experience"/>
  <br/>
  <label>Specialization: </label>
  <input th:type="text" th:field="*{specialization}"/>
  <br/>
  <label>Manager: </label>
  <select th:field="*{manager}">
    <option th:each="person : ${people}" th:value="${person}" th:text="${person}"></option>
  </select>
  <br/>
  <input type="submit" value="Update!"/>
</form>

</body>
</html>